.wrapper {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  user-select: none;
}

.label {
  font-size: 14px;
}

.checkboxes {
  margin-left: 10px;
}
